SIGNAL_API_URL=http://signal-api:8080 // don`t change. Bound to docker container
SIGNAL_GROUP_NAME=GroupName
SIGNAL_SENDER_NUMBER=+xxx875940123
SIGNAL_MESSAGE=450
CRON_TIME=0 50 5,19 * * *
TZ=Europe/Kiev
MODE=native
ISSUER_URI=http://localhost:8081/realms/bot-realm
SERVER_URL=http://localhost:8081
REALM=bot-realm
RESOURCE=bot-client
SECRET=bot-client-secret
